/*这是控制所有页面风格的样式表*/

/*登录&注册页面*/
.login_center {
    display: table;
    margin: 0 auto;
    height: 100%;
}
.login {
    display: table-cell;
    padding: 30px 0 100px;
    width: 280px;
    text-align: center;
    vertical-align: middle;
}
.login_body{
    background: #F6F6F3;
}
.login_input_text {
    width: 100%;
    padding: 10px;
    font-size: 1.14286em;
    border-radius: 10px;
    border: 1px solid #d6d6d6;
}
.login_link {
    color: #0070c9;
    text-decoration: none;
}
.login_button {
    width: 100%;
    padding: 9px;
    font-size: 1.14286em;
    border-radius: 10px;
    background-color: #3c6a81;
    color: white;
}